

{% load static %}
{% block graph_link %}
<!-- <link rel='stylesheet' href='{% static "web/css/style.css" %}' />
<script type="text/javascript" src='{% static "web/js/graph/d3.v3.js" %}'></script> -->
{% endblock %}

{% block content %}

<meta charset="utf-8">
<style>

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

h3 {
    color: #1ABC9C;
    text-align:center;  
    font-style: italic;
    font-size: 14px;
    font-family: "Helvetica";
}

</style>
<div></div>
<svg width="960" height="600"></svg>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="application/json" id="json">
{
  'nodes': [{'name': '108744', 'color': '#bd9e39'},
  {'name': '1271364', 'color': '#8c6d31'},
  {'name': '1305177', 'color': '#8c6d31'},
  {'name': '1334712', 'color': '#8c6d31'},
  {'name': '1594715', 'color': '#8c6d31'},
  {'name': '2078', 'color': '#8c6d31'},
  {'name': '221052', 'color': '#8c6d31'},
  {'name': '2407', 'color': '#8c6d31'},
  {'name': '249839', 'color': '#8c6d31'},
  {'name': '2691', 'color': '#bd9e39'},
  {'name': '2798', 'color': '#8c6d31'},
  {'name': '2865', 'color': '#8c6d31'},
  {'name': '292346', 'color': '#8c6d31'},
  {'name': '3042', 'color': '#8c6d31'},
  {'name': '392791', 'color': '#8c6d31'},
  {'name': '801129', 'color': '#8c6d31'},
  {'name': '841833', 'color': '#bd9e39'},
  {'name': '847046', 'color': '#8c6d31'},
  {'name': '847049', 'color': '#8c6d31'},
  {'name': '847051', 'color': '#8c6d31'},
  {'name': '847053', 'color': '#8c6d31'},
  {'name': '852131', 'color': '#bd9e39'},
  {'name': '912184', 'color': '#8c6d31'},
  {'name': '929905', 'color': '#8c6d31'}],
 'links': [{'source': '221052', 'target': '841833', 'value': 2},
  {'source': '392791', 'target': '108744', 'value': 2},
  {'source': '2798', 'target': '2691', 'value': 2},
  {'source': '3042', 'target': '2691', 'value': 3},
  {'source': '249839', 'target': '2691', 'value': 2},
  {'source': '292346', 'target': '2691', 'value': 2},
  {'source': '801129', 'target': '2691', 'value': 2},
  {'source': '847046', 'target': '2691', 'value': 2},
  {'source': '847049', 'target': '2691', 'value': 2},
  {'source': '847051', 'target': '2691', 'value': 2},
  {'source': '847053', 'target': '2691', 'value': 2},
  {'source': '852131', 'target': '2691', 'value': 2},
  {'source': '912184', 'target': '2691', 'value': 2},
  {'source': '929905', 'target': '2691', 'value': 2},
  {'source': '1271364', 'target': '2691', 'value': 2},
  {'source': '1305177', 'target': '2691', 'value': 2},
  {'source': '1334712', 'target': '2691', 'value': 2},
  {'source': '1594715', 'target': '2691', 'value': 2},
  {'source': '2078', 'target': '2691', 'value': 2},
  {'source': '2407', 'target': '2691', 'value': 2},
  {'source': '2691', 'target': '852131', 'value': 2},
  {'source': '2865', 'target': '852131', 'value': 2}]
}
</script>


<script type="text/javascript" src='{% static "web/js/graph/d3graphscript.js" %}'></script>

{% endblock %}