{% extends 'web/base.html' %}
{% block content %}
<div class="banner-area">
	<div class="container">
		<div class="row justify-content-center height align-items-center">
			<div class="col-lg-8">
				<div class="banner-content text-center">
					<h1 class="text-uppercase">выбери книгу</h1>
					{% if request.user.is_authenticated %}
					<a href="/list" class="primary-btn d-inline-flex align-items-center"><span>Получить
							рекомендацию</span></a>
					{% else %}
					<a href="/login" class="primary-btn d-inline-flex align-items-center"><span>Получить
							рекомендацию</span></a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
<!--<section class="story-area">
				<div class="container">
                    <div class="row">
                        <div class="col-md-9 push-md-3">
                            <p class="beauty-font">
                                    Единый читательский билет
                                    Вам не нужно получать и хранить пластиковые читательские билеты разных библиотек. Подпишите договор с любой городской библиотекой, и в вашем личном кабинете появится единый читательский билет. Покажите его библиотекарю, чтобы взять понравившуюся книгу, или заказывайте книги онлайн через сервис «Библиотеки Москвы».
                                </p>
                        </div>
                        <div class="col-md-3 pull-md-9">
                            <img src="static/web/img/woman.png" style="width: 400px; order: initial;">
                        </div>
                    </div>

				</div>
			</section>-->




<!-- Start Feature Area -->
<section class="featured-area">
	<div class="container">
		<div class="row">
			<div class="desc>">
			</div>
			<div class="single-feature d-flex flex-wrap justify-content-between">
				<div class="desc">
					<h2 class="logo beauty-font"><br>Зачем?</h2>
					<img src="static/web/img/woman.png" align="left" width="400">
					<p style="align:right; margin-top: 100px;">
						Мы читаем по разным причинам: для получения самой разной информации, для отдыха, для расширения
						кругозора. Есть множество причин, почему мы должны читать книги. Хорошая литература — это жизнь.
						Часто мы ищем в ней то, чего нам крайне не хватает в реальности. Происходящее в нашей душе,
						попытка ответить на интересующие нас вопросы – все это открывает нам книга.
						Задача рекомендательной системы – проинформировать пользователя о книге, которая ему может быть
						наиболее интересен в данный момент времени.
						Но как же лучше всего организовать подбор хорошей и полезной литературы для каждого
						пользователя?

					</p>
				</div>
			</div>

			<div class="book">
			</div>
			<div class="single-feature d-flex flex-wrap justify-content-between">
				<div class="desc">
					<h2 class="beauty-font">Наш инновационный подход</h2>
                    <img src="static/web/img/graph.png" align="right" width="300" style="margin-right: -10px;">
					<p style="align: justify; margin-top: 50px">
						База знаний — база данных, содержащая правила вывода и информацию о человеческом опыте и знаниях
						в некоторой предметной области. В самообучающихся системах база знаний также содержит
						информацию, являющуюся результатом решения предыдущих задач.
						Так же база знаний — важный компонент интеллектуальной системы. Наиболее известный класс — это
						экспертные системы. Главная цель создания баз знаний — помочь менее опытным людям найти уже
						существующее описание способа решения какой-либо проблемы. В нашем случае помочь новым
						пользователям подобрать для них книги, которые с большой вероятностью им подойдут.

						Веб-сайт с базой знаний является более инновационным. Он предоставляет пользователям место для
						самостоятельного поиска ответов на вопросы, связанный с выбором подходящей литературы.
						Системы баз знаний — отличное решение этой проблемы. Пользователям предоставляется удобный
						сервис самопомощи.


					</p>

				</div>
			</div>


			<div class="single-feature d-flex flex-wrap justify-content-between">

				<!--<div class="desc">
					<h2 class="beauty-font" style="align: justify;">Как записаться</h2>
                    <img src="static/web/img/stack_of_books.jpeg" align="left" width="300">
					<p style="align: justify; margin-top: 50px">
                        База знаний — база данных, содержащая правила вывода и информацию о человеческом опыте и знаниях
						в некоторой предметной области. В самообучающихся системах база знаний также содержит
						информацию, являющуюся результатом решения предыдущих задач.
						Так же база знаний — важный компонент интеллектуальной системы. Наиболее известный класс — это
						экспертные системы. Главная цель создания баз знаний — помочь менее опытным людям найти уже
						существующее описание способа решения какой-либо проблемы. В нашем случае помочь новым
						пользователям подобрать для них книги, которые с большой вероятностью им подойдут.

						Веб-сайт с базой знаний является более инновационным. Он предоставляет пользователям место для
						самостоятельного поиска ответов на вопросы, связанный с выбором подходящей литературы.
						Системы баз знаний — отличное решение этой проблемы. Пользователям предоставляется удобный
						сервис самопомощи.
					</p>
				</div>-->
			</div>

		</div>
	</div>
</section>
<!-- End Feature Area -->
<!-- Start About Area -->
<!--<section class="about-area">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-4">
							<div class="about-title">
								<h2>О нашем проекте</h2>
								<p>ну мы крутые челики чо сказать</p>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="about-thumb">
								<img src="static/web/img/about.jpg" alt="" class="img-fluid">
							</div>
						</div>
						<div class="col-lg-4 ml-auto">
							<div class="tab-total-content">
								<div class="nav ilene-tabs" id="myTab" role="tablist">
									<a class="nav-item active" id="nav-home-tab" data-toggle="tab" href="#nav-history" role="tab" aria-controls="nav-history" aria-selected="true">Команда</a>
									<a class="nav-item" id="nav-profile-tab" data-toggle="tab" href="#nav-mission" role="tab" aria-controls="nav-mission" aria-selected="false">Цель</a>
								</div>
								<div class="tab-content mt-40" id="nav-tabContent">
									<div class="tab-pane fade show active" id="nav-history" role="tabpanel" aria-labelledby="nav-home-tab">
										<div class="single-content">
											<h3>Команда</h3>
											<p>пару слов о том какие мы крутые ну и нас 5 а не 6 потому что лям легче делить на 5 чем на 6</p>
										</div>
									</div>
									<div class="tab-pane fade" id="nav-mission" role="tabpanel" aria-labelledby="nav-profile-tab">
										<div class="single-content">
											<h3>Наши цели</h3>
											<p>поделить лям на 5</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>-->
<!-- End About Area -->
<!-- Start Amazing Works Area -->
</div>
<div class="main-wrapper">
	<!-- Start Video Area -->
	<section class="video-area">
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row justify-content-center">
				<!--<div class="col-md-7">
							<div class="video-content text-center">
								<h4 class="text-white mb-20"><br>klgrlkglkdfgk</h4>

								<p class="text-white">dkfkdfgkjdfkgj</p>
							</div>
						</div>-->
			</div>
		</div>
	</section>

</div>


{% endblock %}
{% block subscription %}
<section class="subscription-area">
	<div class="container" style="margin-top: 100px">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="section-title text-center">
					<h2 class="beauty-font">Начать поиск</h2>
					<p class="mb-0 mt-10">Введи название книги и автора</p>
				</div>
			</div>
		</div>
		<!-- input search info -->
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<form class="subscription relative" role="search" method="get" action=''>
					<input type="text" class="form-control input-lg " name="q" value="{{ request.GET.q }}"
						placeholder="Название, автор" />
					<button class='primary-btn' type='submit'><span>Поехали!</span><span
							class="lnr lnr-arrow-right"></span></button>
				</form>

			</div>
		</div>
		<!-- end input search info -->
	</div>
</section>
{% endblock %}