{% extends "web/base.html" %}
{% load static %}
{% block title %}Кабинет читателя{% endblock %}
{% block link %}
    <link href="../static/web/css/personal_account.css" rel="stylesheet">
    <link href="../static/web/css/personal_account.css" rel="stylesheet">
    <link href="../static/web/css/list.css" rel="stylesheet">
    <link href="../static/web/css/search_input.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/web/css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="../static/web/css/slick-theme.css"/>
{% endblock %}
<div class="main-wrapper-first relative">
{% block content %}
<section class="subscription-area">
{% if user.is_authenticated %}
 <h2 class="beauty-font">Добро пожаловать, {{user.username}}</h2>
    {% endif %}
				<div class="container" style="margin-top: 100px">

					<div class="row justify-content-center">

						<div class="col-lg-8">
							<div class="section-title text-center">
								<h2 class="beauty-font">Найти книгу из личной подборки</h2>
								<p class="mb-0 mt-10">Введи автора книги или название</p>
							</div>
						</div>
					</div>
					<div class="row justify-content-center">
                        <div class="col-lg-6">
                            <form class="subscription relative" role="search" method="get" action=''>
                                <input type="text" class="form-control input-lg " name="q" value="{{ request.GET.q }}" placeholder="Название, автор"/>
                                <button class='primary-btn' type='submit'><span>Поехали!</span><span class="lnr lnr-arrow-right"></span></button>
                            </form>

                        </div>
                    </div>
				</div>
			</section>
    <h2 class="beauty-font">Может понравиться</h2>
    <section class="center slider">
        {% for j in 'asdjkjkjkjkjijasd' %}
            <div class="slick-item">
            <a href = "/book" color = "black">
            <div class="project-box-wrapper">
                    <div class="margin-list">
            <div class="project-box-header">
              <span>Романтика</span>
              <div class="more-wrapper">

          </div>
        </div>

        <div class="project-box-content-header">
            <p class="box-content-header"><span class = "font">Приключения Тома Сойера и Гекьльберри Финна</span></p>
            <p class="box-content-subheader"><span class = "font">Марк Твен</span></p>
        </div>

        <div class="box-progress-wrapper">
            <button class="btn" id="green"><i class="fa fa-lg" aria-hidden="true">👍</i></button>
            <button class="btn" id="red"><i class="fa fa-lg" aria-hidden="true">👎</i></button>
        </div>
      </div>
    </div></a>
            </div>
        {% endfor %}
    </section>
    <h2 class="beauty-font">Это читают все</h2>
    <section class="center slider">
        {% for j in 'asdjkjkjkjkjijasd' %}
            <div class="slick-item">
            <a href = "/book" color = "black">
            <div class="project-box-wrapper">
                    <div class="margin-list">
            <div class="project-box-header">
              <span>Романтика</span>
              <div class="more-wrapper">

          </div>
        </div>

        <div class="project-box-content-header">
            <p class="box-content-header"><span class = "font">Приключения Тома Сойера и Гекьльберри Финна</span></p>
            <p class="box-content-subheader"><span class = "font">Марк Твен</span></p>
        </div>

        <div class="box-progress-wrapper">
            <button class="btn" id="green"><i class="fa fa-lg" aria-hidden="true">👍</i></button>
            <button class="btn" id="red"><i class="fa fa-lg" aria-hidden="true">👎</i></button>
        </div>

      </div>
    </div></a>
            </div>
        {% endfor %}
    </section>
    {% block script %}
        <script src="../static/web/js/personal_account.js"></script>
        <script src="../static/web/js/personal_account.js"></script>
            <script src="../static/web/js/list.js"></script>
            <script type="text/javascript" src="../static/web/js/jquery-3.6.0.js"></script>
            <script type="text/javascript" src="../static/web/js/slick.js"></script>
            <script type="text/javascript" src="../static/web/js/slick-book.js"></script>
            <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.9.0/slick/slick.min.js"></script>
    {% endblock %}
{% endblock %}



</div>

