{% extends "web/base.html" %}
{% load static %}
{% block title %}Кабинет читателя{% endblock %}
{% block link %}
<link href="../static/web/css/personal_account.css" rel="stylesheet">
<link href="../static/web/css/personal_account.css" rel="stylesheet">
<link href="../static/web/css/list.css" rel="stylesheet">
<link href="../static/web/css/search_input.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../static/web/css/slick.css" />
<link rel="stylesheet" type="text/css" href="../static/web/css/slick-theme.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.css" type="text/css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis-network.min.js"> </script>

{% endblock %}
<div class="main-wrapper-first relative">
    {% block content %}
    <section class="subscription-area">
        {% if user.is_authenticated %}
       <center><h2 class="beauty-font">Добро пожаловать, {{ user.username }}</h2></center>
        {% endif %}
        <div class="container" style="margin-top: 100px">

            <div class="row justify-content-center">

                <div class="col-lg-8">
                    <div class="section-title text-center">
                        <h2 class="beauty-font">Найти книгу из личной подборки</h2>
                        <p class="mb-0 mt-10">Введи автора книги или название</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <form class="subscription relative" role="search" method="get" action=''>
                        <input type="text" class="form-control input-lg " name="q" value="{{ request.GET.q }}"
                            placeholder="Название, автор" />
                        <button class='primary-btn' type='submit'><span>Поехали!</span><span
                                class="lnr lnr-arrow-right"></span></button>
                    </form>

                </div>
            </div>
        </div>
    </section>

    <h2 class="beauty-font">Может понравиться</h2>
    <section class="center slider">
    {% for book in content %}
        <div class="slick-item">
         <a href="/book?{%for key, value in book.items %}{{key}}={{value}}&{%endfor%}" color="black" name="item_book">
             <div class="project-box-wrapper">
                    <div class="margin-list">
                        <div class="project-box-header">
                            <span>{{ book.rubrics }}</span>
                            <div class="more-wrapper">

                            </div>
                        </div>

                        <div class="project-box-content-header">
                            <p class="box-content-header"><span class="font">{{ book.title|truncatechars:80 }}</span></p>
                            <p class="box-content-subheader"><span class="font">{{ book.aut }}</span></p>
                        </div>

                        <!--<div class="box-progress-wrapper">
                            <button class="btn" id="green"><i class="fa fa-lg" aria-hidden="true">👍</i></button>
                            <button class="btn" id="red"><i class="fa fa-lg" aria-hidden="true">👎</i></button>
                        </div>-->
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </section>
   <!-- <h2 class="beauty-font">Это читают все</h2>
    <section class="center slider">
    {% for book in content %}
        <div class="slick-item">
            <a href="/book?{%for key, value in book.items %}{{key}}={{value}}&{%endfor%}" color="black" name="item_book">
                <div class="project-box-wrapper">
                    <div class="margin-list">
                        <div class="project-box-header">
                            <span>{{ book.rubrics }}</span>
                            <div class="more-wrapper">

                            </div>
                        </div>

                        <div class="project-box-content-header">
                            <p class="box-content-header"><span class="font">{{ book.title }}</span></p>
                            <p class="box-content-subheader"><span class="font">{{ book.aut }}</span></p>
                        </div>

                        <div class="box-progress-wrapper">
                            <button class="btn" id="green"><i class="fa fa-lg" aria-hidden="true">👍</i></button>
                            <button class="btn" id="red"><i class="fa fa-lg" aria-hidden="true">👎</i></button>
                        </div>

                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </section>-->

<p style="align:right; margin-top: 100px;">
						Мы читаем по разным причинам: для получения самой разной информации, для отдыха, для расширения
						кругозора. Есть множество причин, почему мы должны читать книги. Хорошая литература — это жизнь.
						Часто мы ищем в ней то, чего нам крайне не хватает в реальности. Происходящее в нашей душе,
						попытка ответить на интересующие нас вопросы – все это открывает нам книга.
						Задача рекомендательной системы – проинформировать пользователя о книге, которая ему может быть
						наиболее интересен в данный момент времени.
						Но как же лучше всего организовать подбор хорошей и полезной литературы для каждого
						пользователя?
					</p>
    <a href="json/"><button class='primary-btn' style="width: 225px; position: relative; left: 50%; transform: translate(-50%, 0);" type='submit'><span>JSON-файл</span></button></a>
<p style="align:right; margin-top: 100px;">
						Мы читаем по разным причинам: для получения самой разной информации, для отдыха, для расширения
						кругозора. Есть множество причин, почему мы должны читать книги. Хорошая литература — это жизнь.
						Часто мы ищем в ней то, чего нам крайне не хватает в реальности. Происходящее в нашей душе,
						попытка ответить на интересующие нас вопросы – все это открывает нам книга.
						Задача рекомендательной системы – проинформировать пользователя о книге, которая ему может быть
						наиболее интересен в данный момент времени.
						Но как же лучше всего организовать подбор хорошей и полезной литературы для каждого
						пользователя?
					</p>
    <a href="graph/"><button class='primary-btn' style="width: 225px; position: relative; left:50%; transform: translate(-50%, 0);" type='submit'><span>Граф рекомендаций</span></button></a>

        <section class="featured-area" style="margin-top: 50px">

    <div class="container pqr">

        <div class="single-feature d-flex flex-wrap justify-content-between">
            <h2 class="beauty-font"> Просмотренные </h2>
        </div>
        <div class="wrapper" style="margin-top: 20px">
            {% for book in content %}
            <div>
                <a href="/book?{%for key, value in book.items %}{{key}}={{value}}&{%endfor%}" color="black" name="item_book">
                    <div class="project-box-wrapper">
                        <div class="project-box" style="background-color: #fee4cb;">
                            <div class="project-box-header">
                                <span>{{ book.rubrics }}</span>
                                    <div class="more-wrapper">
                                    </div>
                            </div>
                                    <div class="project-box-content-header">
                                        <p class="box-content-header"><span class="font">{{ book.title|truncatechars:40}}</span></p>
                                        <p class="box-content-subheader"><span class="font">{{ book.aut|truncatechars:30 }}</span></p>
                                    </div>


                                    <div class="project-box-footer">

                                    </div>
                        </div>

                    </div>
                    </a>
                <div>
                    <span class="beauty-font" style="font-size: 14px; font-weight: lighter">{{ book.title|truncatechars:40 }},</span>
                    <span> {{ book.aut|truncatechars:40 }}</span>
                </div>

            </div>

            {% endfor %}
        </div>
    </div>
</section>

    {% block script %}
    <script src="../static/web/js/personal_account.js"></script>
    <script src="../static/web/js/personal_account.js"></script>
    <script src="../static/web/js/list.js"></script>
    <script type="text/javascript" src="../static/web/js/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="../static/web/js/slick.js"></script>
    <script type="text/javascript" src="../static/web/js/slick-book.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.9.0/slick/slick.min.js"></script>
    {% endblock %}

    {% endblock %}



</div>
